<div id="wrap" class="grid_1200">
	<div class="breadcrumbs">
		<section class="container">
			<div class="row">
				<div class="col-md-12">
					<h1><%= @question.title %></h1>
				</div>
				<div class="col-md-12">
					<div class="crumbs">
					  <%= link_to 'Questions', root_path %>
						<span class="crumbs-span">/</span>
						<span class="current"><%= @question.title %></span>
					</div>
				</div>
			</div><!-- End row -->
		</section><!-- End container -->
	</div><!-- End breadcrumbs -->
	
	<section class="container main-content">
		<div class="row">
			<div class="col-md-9">
				<article class="question single-question question-type-normal">
					<h2>
					  <%= @question.title %>	
					</h2>
					<% if current_user.admin? %>
						<a class="question-type-main" href="<%= edit_question_path(@question) %>"><i class="icon-pencil"></i>Edit</a>
						<%= link_to(question_path(@question), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'question-report red-bg') do %>
							<i class="icon-trash"></i>Delete
						<% end %>
					<% end %>
					
					<% if current_user == @question.user %>
						<a class="question-report" href="<%= edit_question_path(@question) %>"><i class="icon-pencil"></i>Edit</a>
					<% end %>
					<div class="question-inner">
						<div class="clearfix"></div>
						<div class="question-desc">
						  <p><%= @question.description %><p></div>
						<div class="question-details">
							<span class="question-answered question-answered-done"><i class="icon-ok"></i>solved</span>
						</div>
						<span class="question-category"><a href="#"><i class="icon-folder-close"></i>CSC 440</a></span>
						<span class="question-date"><i class="icon-time"></i>Created <%= @question.created_at.strftime("%b %e %Y") %></span>
						<span class="question-comment"><a href="#bio"><i class="icon-comment"></i><%= pluralize(@question.answers.count, "Answer") %></a></span>
						<span class="single-question-vote-result">+22</span>
						<ul class="single-question-vote">
							<li><a href="#" class="single-question-vote-down" title="Dislike"><i class="icon-thumbs-down"></i></a></li>
							<li><a href="#" class="single-question-vote-up" title="Like"><i class="icon-thumbs-up"></i></a></li>
						</ul>
						<div class="clearfix"></div>
					</div>
				</article>
				
				<div class="about-author clearfix">
				    <div class="author-image">
				    	<a href="<%= user_path(@question.user.id) %>" original-title="<%= @question.user.name %>" class="tooltip-n"><img alt="" src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-alt-48.png"></a>
				    </div>
				    <div class="author-bio" id="bio">
				        <h4>Question Posted By <%= link_to @question.user.name, user_path(@question.user.id) %></h4>
				        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra auctor neque. Nullam lobortis, sapien vitae lobortis tristique.
				    </div>
				</div><!-- End about-author -->
				
				
				
				<div id="commentlist" class="page-content">
					<div class="boxedtitle page-title"><h2>Answers ( <span class="color"><%= @question.answers.count %></span> )</h2></div>
					<ol class="commentlist clearfix">
					    <% @question.answers.order('created_at DESC').each do |answer| %>
					    <li class="comment">
					        <div class="comment-body comment-body-answered clearfix"> 
					            <div class="avatar"><img alt="" src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-alt-48.png"></div>
					            <div class="comment-text">
					                <div class="author clearfix">
					                	<div class="comment-author"><%= link_to answer.user.name, user_path(answer.user) %></div>
					                	<div class="comment-vote">
						                	<ul class="question-vote">
						                		<li><a href="#" class="question-vote-up" title="Like"></a></li>
						                		<li><a href="#" class="question-vote-down" title="Dislike"></a></li>
						                	</ul>
					                	</div>
					                	<span class="question-vote-result">+1</span>
					                	<div class="comment-meta">
					                        <div class="date"><i class="icon-time"></i><%= answer.created_at.strftime("%b %e %Y %l:%M %p") %></div> 
					                    </div>
					                    <% if current_user == answer.user || current_user.admin? %>
					                    	<%= link_to(answer_path(answer), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'comment-reply red') do %>
					                    	<i class="icon-trash"></i>Delete
																<% end %>
																<a id="editAnswerButton<%= answer.id %>" class="comment-reply" onclick="editAnswer(<%= answer.id %>)"><i class="icon-pencil"></i>Edit</a>
					                    <% end %>
					                </div>
					                <div class="text">
					                	<p id="text<%= answer.id %>"><%= answer.content %></p>
					                	<div id="editAnswerForm<%= answer.id %>">
					                	<%= form_for answer do |f| %>
					                	<div id='respond-textarea'>
					                		<p><%= f.text_area :content, rows: 10, class: 'form-control' %></p>
					                	</div><%= f.hidden_field :question_id %>
					                		<p class='form-submit'>
					                			<%= f.submit class: 'button small color' %>
					                		</p>
					                	
					                	<% end %>
					                	</div>
					              	</div>
					            </div>
					        </div>
					        
					    </li>
					    <% end %>
					    
					</ol><!-- End commentlist -->
				</div><!-- End page-content -->
				
				<div id="respond" class="comment-respond page-content clearfix">
				    <div class="boxedtitle page-title"><h2>Answer This Question</h2></div>
				      <%= form_for @question.answers.new do |f| %> 
				        <div id="respond-textarea">
				            <p>
				                <%= f.text_area :content, rows: 10, class: "form-control", placeholder: "Respond to the question here..." %>
				            </p>
				        </div>
				        <%= f.hidden_field :question_id %>
				        <p class="form-submit">
				        	
				        	<%= f.submit class: "button small color" %>
				        </p>
				    	<% end %>
				</div>
				
				<div class="post-next-prev clearfix">
				    <p class="prev-post">
				        <a href="#"><i class="icon-double-angle-left"></i>&nbsp;Prev question</a>
				    </p>
				    <p class="next-post">
				        <a href="#">Next question&nbsp;<i class="icon-double-angle-right"></i></a>                                
				    </p>
				</div><!-- End post-next-prev -->	
			</div><!-- End main -->
			<aside class="col-md-3 sidebar">
				<div class="widget">
					<h3 class="widget_title">Related questions</h2>
					<ul class="related-posts">
						<li class="related-item"><h3><a href="#"><i class="icon-double-angle-right"></i>This Is My Second Poll Question</a></h3></li>
						<li class="related-item"><h3><a href="#"><i class="icon-double-angle-right"></i>This is my third Question</a></h3></li>
						<li class="related-item"><h3><a href="#"><i class="icon-double-angle-right"></i>This is my fourth Question</a></h3></li>
						<li class="related-item"><h3><a href="#"><i class="icon-double-angle-right"></i>This is my fifth Question</a></h3></li>
					</ul>
				</div><!-- End related-posts -->
				
				
			
				
			</aside><!-- End sidebar -->
		</div><!-- End row -->
	</section><!-- End container -->
	
	
</div><!-- End wrap -->

<div class="go-up"><i class="icon-chevron-up"></i></div>
<script>
	/* scroll answer into view */
	// to top right away
	if (window.location.hash) scroll(0,0);
	
	// void some browsers issue
	setTimeout( function() { scroll(0,0); }, 1);
	
	$(function() {
    // *only* if we have anchor on the url
    if(window.location.hash) {
	    // smooth scroll to the anchor id
	    $('html, body').animate({
	        scrollTop: $(window.location.hash).offset().top - 80 + 'px'
	    }, 800, 'swing');
    }
	});
	
	$('[id^=editAnswerForm]').hide();
	
	function editAnswer(id) {
		if($('#editAnswerForm' + id).is(":visible")){
			$('#editAnswerButton' + id).html("<i class='icon-pencil'></i>Edit");
			$('#text' + id).show();
    	$('#editAnswerForm' + id).hide();
		} else {
			$('#editAnswerButton' + id).html("<i class='icon-eraser'></i>Cancel");
			$('#text' + id).hide();
			$('#editAnswerForm' + id).show();
		}
	}
					      
</script>