<div id="wrap" class="grid_1200">
	
	<section class="container main-content">
		<div class="row">
			<div class="col-md-9">
				
				<div class="tabs-warp question-tab">
		            <ul class="tabs">
		                <li class="tab"><a href="#" class="current">Recent Questions</a></li>
		                <!--<li class="tab"><a href="#">Most Responses</a></li>
		                <li class="tab"><a href="#">Recently Answered</a></li>
		                <li class="tab"><a href="#">No answers</a></li>-->
		            </ul>
		            <div class="tab-inner-warp">
						<div class="tab-inner">
							<% @questions.each do |question| %>
							<article class="question question-type-normal">
								<h2>
									<%= link_to question.title, question_path(question) %>
								</h2>
								<% if current_user.admin? %>
									<a class="question-type-main" href="<%= edit_question_path(question) %>"><i class="icon-pencil"></i>Edit</a>
									<%= link_to(question_path(question), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'question-report red-bg') do %>
										<i class="icon-trash"></i>Delete
									<% end %>
								<% end %>
								
								<% if current_user == question.user %>
									<a class="question-report" href="<%= edit_question_path(question) %>"><i class="icon-pencil"></i>Edit</a>
								<% end %>
								<div class="question-author">
									<a href="<%= user_path(question.user.id) %>"  original-title="<%= question.user.name %>" class="question-author-img"><span></span><img alt="" src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-alt-48.png"></a>
								</div>
								<div class="question-inner">
									<div class="clearfix"></div>
									<p class="question-desc"><%= truncate(question.description, length: 300) %></p>
									<div class="question-details">
										<span class="question-answered question-answered-done"><i class="icon-ok"></i>solved</span>
									</div>
									<span class="question-category"><a href="#"><i class="icon-folder-close"></i>CSC 440</a></span>
									<span class="question-date"><i class="icon-time"></i>Updated <%= question.updated_at.strftime("%b %e %Y %l:%M %p") %></span>
									<span class="question-comment"><a href="<%= question_path(question) %>#bio" class="smoothScroll"><i class="icon-comment"></i><%= pluralize(question.answers.count, "Answer") %></a></span>
									<div class="clearfix"></div>
								</div>
							</article>
							<% end %>
							
							<a href="#" class="load-questions"><i class="icon-refresh"></i>Load More Questions</a>
		      </div>
		   </div>
		            
		        </div><!-- End page-content -->
			</div><!-- End main -->
			<aside class="col-md-3 sidebar">
				<div class="widget widget_highest_points">
					<h3 class="widget_title">Highest points</h3>
					<ul>
						<li>
							<div class="author-img">
								<a href="#"><img width="60" height="60" src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-alt-48.png" alt=""></a>
							</div> 
							<h6><a href="#">Jake</a></h6>
							<span class="comment">12 Points</span>
						</li>
						<li>
							<div class="author-img">
								<a href="#"><img width="60" height="60" src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-alt-48.png" alt=""></a>
							</div> 
							<h6><a href="#">Dan</a></h6>
							<span class="comment">10 Points</span>
						</li>
						<li>
							<div class="author-img">
								<a href="#"><img width="60" height="60" src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-alt-48.png" alt=""></a>
							</div> 
							<h6><a href="#">Trong</a></h6>
							<span class="comment">5 Points</span>
						</li>
					</ul>
				</div>
				
				<div class="widget">
					<h3 class="widget_title">Recent Questions</h3>
					<ul class="related-posts">
						<% Question.order('updated_at DESC').limit(2).each do |q| %>
						<li class="related-item">
							<h3><a href="#"><%= q.title %></a></h3>
							<p><%= truncate(q.description, length: 70) %></p>
							<div class="clear"></div><span><%= q.updated_at.strftime("%b %e %Y %l:%M %p") %></span>
						</li>
						<% end %>
						
					</ul>
				</div>
				
			</aside><!-- End sidebar -->
		</div><!-- End row -->
	</section><!-- End container -->
</div><!-- End wrap -->

<div class="go-up"><i class="icon-chevron-up"></i></div>


